/*********************************************
 * GLOBAL STYLES
 *********************************************/
/* line 7, ../../../../theme/template/_theme.scss */
body {
  background: #EEEB7C;
  background: -moz-radial-gradient(center, circle cover, #EEEB7C 0%, #EEEB7C 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #EEEB7C), color-stop(100%, #EEEB7C));
  background: -webkit-radial-gradient(center, circle cover, #EEEB7C 0%, #EEEB7C 100%);
  background: -o-radial-gradient(center, circle cover, #EEEB7C 0%, #EEEB7C 100%);
  background: -ms-radial-gradient(center, circle cover, #EEEB7C 0%, #EEEB7C 100%);
  background: radial-gradient(circle cover at center, #eeeb7c 0%, #eeeb7c 100%);
  background-color: #2b2b2b;
}

/* line 12, ../../../../theme/template/_theme.scss */
.reveal {
  font-family: "mplus-2p-thin", sanserif;
  font-size: 36px;
  font-weight: normal;
  color: #333;
}

/* line 19, ../../../../theme/template/_theme.scss */
::selection {
  color: #fff;
  background: #FF5E99;
  text-shadow: none;
}

/* line 25, ../../../../theme/template/_theme.scss */
.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
/* line 35, ../../../../theme/template/_theme.scss */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #333;
  font-family: "mplus-2p-thin", sanserif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: normal;
  text-shadow: none;
  word-wrap: break-word;
}

/* line 55, ../../../../theme/template/_theme.scss */
.reveal h1 {
  font-size: 2.11em;
}

/* line 56, ../../../../theme/template/_theme.scss */
.reveal h2 {
  font-size: 1.55em;
}

/* line 57, ../../../../theme/template/_theme.scss */
.reveal h3 {
  font-size: 1.2em;
}

/* line 58, ../../../../theme/template/_theme.scss */
.reveal h4 {
  font-size: 1em;
}

/* line 60, ../../../../theme/template/_theme.scss */
.reveal h1 {
  text-shadow: none;
}

/*********************************************
 * OTHER
 *********************************************/
/* line 69, ../../../../theme/template/_theme.scss */
.reveal p {
  margin: 20px 0;
  line-height: 1.3;
}

/* Ensure certain elements are never larger than the slide itself */
/* line 75, ../../../../theme/template/_theme.scss */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

/* line 81, ../../../../theme/template/_theme.scss */
.reveal strong,
.reveal b {
  font-weight: bold;
}

/* line 86, ../../../../theme/template/_theme.scss */
.reveal em {
  font-style: italic;
}

/* line 90, ../../../../theme/template/_theme.scss */
.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

/* line 99, ../../../../theme/template/_theme.scss */
.reveal ol {
  list-style-type: decimal;
}

/* line 103, ../../../../theme/template/_theme.scss */
.reveal ul {
  list-style-type: disc;
}

/* line 107, ../../../../theme/template/_theme.scss */
.reveal ul ul {
  list-style-type: square;
}

/* line 111, ../../../../theme/template/_theme.scss */
.reveal ul ul ul {
  list-style-type: circle;
}

/* line 115, ../../../../theme/template/_theme.scss */
.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

/* line 123, ../../../../theme/template/_theme.scss */
.reveal dt {
  font-weight: bold;
}

/* line 127, ../../../../theme/template/_theme.scss */
.reveal dd {
  margin-left: 40px;
}

/* line 131, ../../../../theme/template/_theme.scss */
.reveal q,
.reveal blockquote {
  quotes: none;
}

/* line 136, ../../../../theme/template/_theme.scss */
.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

/* line 147, ../../../../theme/template/_theme.scss */
.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

/* line 152, ../../../../theme/template/_theme.scss */
.reveal q {
  font-style: italic;
}

/* line 156, ../../../../theme/template/_theme.scss */
.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

/* line 171, ../../../../theme/template/_theme.scss */
.reveal code {
  font-family: monospace;
}

/* line 175, ../../../../theme/template/_theme.scss */
.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  background: #3F3F3F;
  color: #DCDCDC;
}

/* line 185, ../../../../theme/template/_theme.scss */
.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 191, ../../../../theme/template/_theme.scss */
.reveal table th {
  font-weight: bold;
}

/* line 195, ../../../../theme/template/_theme.scss */
.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

/* line 202, ../../../../theme/template/_theme.scss */
.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center;
}

/* line 207, ../../../../theme/template/_theme.scss */
.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right;
}

/* line 212, ../../../../theme/template/_theme.scss */
.reveal table tr:last-child td {
  border-bottom: none;
}

/* line 216, ../../../../theme/template/_theme.scss */
.reveal sup {
  vertical-align: super;
}

/* line 219, ../../../../theme/template/_theme.scss */
.reveal sub {
  vertical-align: sub;
}

/* line 223, ../../../../theme/template/_theme.scss */
.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

/* line 230, ../../../../theme/template/_theme.scss */
.reveal small * {
  vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
/* line 239, ../../../../theme/template/_theme.scss */
.reveal a {
  color: #5dcbf0;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease;
}

/* line 247, ../../../../theme/template/_theme.scss */
.reveal a:hover {
  color: #bae9f9;
  text-shadow: none;
  border: none;
}

/* line 254, ../../../../theme/template/_theme.scss */
.reveal .roll span:after {
  color: #fff;
  background: #17b5ea;
}

/*********************************************
 * IMAGES
 *********************************************/
/* line 264, ../../../../theme/template/_theme.scss */
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* line 272, ../../../../theme/template/_theme.scss */
.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
}

/* line 278, ../../../../theme/template/_theme.scss */
.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #5dcbf0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
/* line 290, ../../../../theme/template/_theme.scss */
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #5dcbf0;
}

/* line 295, ../../../../theme/template/_theme.scss */
.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #5dcbf0;
}

/* line 300, ../../../../theme/template/_theme.scss */
.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #5dcbf0;
}

/* line 305, ../../../../theme/template/_theme.scss */
.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #5dcbf0;
}

/* line 310, ../../../../theme/template/_theme.scss */
.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #bae9f9;
}

/* line 314, ../../../../theme/template/_theme.scss */
.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #bae9f9;
}

/* line 318, ../../../../theme/template/_theme.scss */
.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #bae9f9;
}

/* line 322, ../../../../theme/template/_theme.scss */
.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #bae9f9;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
/* line 331, ../../../../theme/template/_theme.scss */
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

/* line 334, ../../../../theme/template/_theme.scss */
.reveal .progress span {
  background: #5dcbf0;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/
/* line 345, ../../../../theme/template/_theme.scss */
.reveal .slide-number {
  color: #5dcbf0;
}

/* line 3, ../../../../theme/template/_custom.scss */
.spinner {
  width: 60px;
  height: 60px;
  position: absolute;
  margin-top: -30px;
  margin-left: -30px;
  top: 50%;
  left: 50%;
  background-color: #5dcbf0;
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@font-face {
  font-family: mplus-2p-thin;
  src: url("/assets/font/mplus-2p-thin.woff") format("truetype");
}
/* line 41, ../../../../theme/custom/paleYellow.scss */
.slides ul {
  list-style: none;
}
/* line 43, ../../../../theme/custom/paleYellow.scss */
.slides ul li::before {
  color: #aaaaaa;
  content: "# ";
}
/* line 50, ../../../../theme/custom/paleYellow.scss */
.slides section[data-background="./vertical.svg"] {
  top: 0 !important;
  height: 100%;
}
/* line 53, ../../../../theme/custom/paleYellow.scss */
.slides section[data-background="./vertical.svg"] .box:first-child {
  width: 100%;
  position: absolute;
  bottom: 55%;
}
/* line 58, ../../../../theme/custom/paleYellow.scss */
.slides section[data-background="./vertical.svg"] .box:last-child {
  width: 100%;
  position: absolute;
  top: 50%;
  color: #333;
}
/* line 63, ../../../../theme/custom/paleYellow.scss */
.slides section[data-background="./vertical.svg"] .box:last-child a {
  color: #8c8912;
}
/* line 71, ../../../../theme/custom/paleYellow.scss */
.slides section[data-background="./horizontal.svg"] {
  top: 0 !important;
  width: 100%;
  height: 100%;
  display: table !important;
}
/* line 76, ../../../../theme/custom/paleYellow.scss */
.slides section[data-background="./horizontal.svg"] .box {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 50%;
}
/* line 84, ../../../../theme/custom/paleYellow.scss */
.slides section[data-background="./horizontal.svg"] .box:last-child {
  color: #333;
}
/* line 86, ../../../../theme/custom/paleYellow.scss */
.slides section[data-background="./horizontal.svg"] .box:last-child a {
  color: #8c8912;
}
