@font-face {
    font-family: "M+ 2p thin";
    src: url("mplus-2p-thin.eot"); /* IE9 */
    src: url("mplus-2p-thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("mplus-2p-thin.woff") format("woff"), /* chrome, firefox */
    url("mplus-2p-thin.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("mplus-2p-thin.svg#M+ 2p thin") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


