extends ../layout.jade

block titles
    title 関西フロントエンドUG
    meta(name='description', content='関西フロントエンドUGの説明')
    meta(name='author', content='mikakane')


block sections
    section
        :markdown
            # フロントエンドやばい

            関西フロントエンドUGのススメ

            mikakane [@mkkn_info](https://twitter.com/mkkn_info)
    section
        :markdown
            ## 自己紹介

            - mikakane [@mkkn_info](https://twitter.com/mkkn_info)
            - [株式会社 chatbox](http://chatbox-inc.com) 代表

            - PHPエンジニア
            - フロントもやります。

    section
        :markdown
            フロントエンド ヤバい
    section
        :markdown
            マジ ヤバい
    section
        :markdown
            流れが超早い
    section
        :markdown
            これからのJSはCoffeescriptだよね

            とか言いつつ気づけばTypescript流行ってる
    section
        :markdown
            grunt すげぇ便利とかいいつつ

            気づけばgulpが主流になってたりする
    section
        :markdown
            Bootstrapがいつの間にかlessからsassに移行してたり
    section
        :markdown
            Bootstrap? 今はFundationでしょ？とか言われたりする。
    section
        :markdown
            Googleは未来を教えてくれない。
    section
        :markdown
            Googleが頼れないとか超やばい。
    section
        :markdown
            止むことのない宗教戦争
    section
        :markdown
            CommonJS

            AMD

            ES Module
    section
        :markdown
            Component.io

            Browserify

            Webpack
    section
        :markdown
            LESS

            SCSS

            Stylus
    section
        :markdown
            群雄割拠のJSフレームワーク
    section
        :markdown
            膨大な周辺技術
    section
        :markdown
            レスポンシブ

            UI設計

            フラット/マテリアル
    section
        :markdown
            PHPにはPSRとかが標準化したりして、
            次世代につなげようとする動きがある。

            話のわかる奴
    section
        :markdown
            フロントエンドにはことごとく標準がなくてヤバい
    section
        :markdown
            今年学んだ技術の何割かは、

            来年には確実に廃れるとか、泣く
    section
        :markdown
            追い打ちの如く現れた ECMA Script 6
    section
        :markdown
            class

            import

            アロー関数

            etc...
    section
        :markdown
            俺の知ってるJSじゃない
    section
        :markdown
            JSerだと思ってたら、

            気がついたらJSerじゃなくなってたとか、泣く
    section
        :markdown
            じゃあ「フロントエンドエンジニアの業務範囲って何よ」

    section
        :markdown
            誰にもわからない。ヤバい。
    section
        :markdown
            「フロントエンドエンジニアの学ぶべきことって何よ」
    section
        :markdown
            誰にもわからない。怖い。
    section
        :markdown
            とにかく、もっとフロントエンドのヤバさを知るべき
    section
        :markdown
            そんな中立ち上がった

            関西フロントエンドUG
    section(data-background="./kfug.png")
    section
        :markdown
            ## 関西フロントエンドUG

            - 月一回もくもく会 + 月１回勉強会
            - 基本ゆるふわ系 ( NO MASAKARI )

            - JavascriptからCSS UI設計など幅広く
            - 知識の共有 ＜ 分からない/困っているの共有
            - どうすべきかを相談/検討できるコミュニティに
                - ハードル低め。困ってるなら自信持って声上げよう!!
    section
        :markdown
            興味のある方は[Connpass](http://kfug.connpass.com/) / [Facebookグループ](https://www.facebook.com/groups/kansai.frontend/)へ!!
    section
        :markdown
            フロントエンドUG 超偉い

            頑張れ、もっと頑張れ

    style.
        h1{
            font-size: 2.5em !important;
        }


