extends ../layout.jade

block titles
    title フロントエンドで考えるWebデザイン/UI勉強会
    meta(name='description', content='PHPマイクロフレームワーク lumen')
    meta(name='author', content='mikakane')


block sections
    section
        :markdown
            # フロントエンドで考えるWebデザイン/UI勉強会

            関西フロントエンドUG 6月勉強会
    section
        :markdown
            ## 会場提供

            - 株式会社lockon
    section
        :markdown
            ligthtning talk
    section
        :markdown
            5分程度の短いセッション
    section
        :markdown
            5 minutes
    section(data-background="./donbey.jpg")
        :markdown
            5 minutes = 1 donbey
    section
        :markdown
            意外となんとかなる…?
    section
        :markdown
            でも、何を話せばいいか…
    section
        :markdown
            ## お手軽 lightning talk ネタ

            - 現場のワークフローの話
            - おすすめのツール/サイト/プラグインなど
            - 現場あるある話

            まぁ自己紹介で1分使えば、残りは4分しかない。
    section
        :markdown
            ## LT ≠ 教えること

            - 今、こういうことで困ってます話
            - AIとPSどっちがいいですか?的な話
            - 最近したこんな失敗、的な話

            自分がした失敗は、誰かが次に踏む穴
    section
        :markdown
            ## LTのポイント

            - 話のテクとか慣れとか関係無いです
            - プレゼンの上手さとか関係無いです
            - 需要とか関係ないです

            しょせん5分。なんでもありっす。
    section
        :markdown
            いわば勉強会の締め。よろしくお願いしまっす。
    section
        :markdown
            ## 資料作りのススメ

            - PowerPoint/Keynote
            - reveal.js
            - talkie.js

            資料はアレば楽かもだけど別に無くても大丈夫。
    section
        :markdown
            ## 喋るだけでこんなに良いことが!?

            - ブログは見てもらえないかもだけど、LTは聞かせられる。
            - プレゼンの練習になる(大事
            - 懇親会とかの喋るネタ
            - こんなのもあるよ、みたいなフィードバック

    section(data-background="./kaiun.jpg")
    section
        :markdown
            フロントエンドUGでは毎月勉強会開催中
    section
        :markdown
            喋ってみたい!! という方は是非お気軽に



