extends ../layout.jade

block titles
    title Laravel PHP フレームワーク 超入門
    meta(name='description', content='Laravel PHP フレームワーク 超入門')
    meta(name='author', content='mikakane')

block style
    link#theme(rel='stylesheet', href='/assets/css/custom/paleYellow.css')

block sections
    section.cover
        :markdown
            # Grand Frontend Osaka 2015

            [Grand Frontend Osaka 2015 Summer](http://kfug.github.io/events/2015/grandfrontendosaka/)

    section(data-background="./vertical.svg")
        div.box
            :markdown
                ## TimeTable

                公式サイトをご確認ください。

                http://kfug.github.io/events/2015/grandfrontendosaka/
        div.box
            :markdown
                セッション5本、LT3本予定です。

                進行状況により多少前後します。
    section
        :markdown
            当日LTもまだ間に合います!!

            ご連絡は[@mkkn_info](https://twitter.com/mkkn_info)まで
    section(data-background="./vertical.svg")
        div.box
            :markdown
                ## 会場のお約束

                18歳未満の入場は禁止となっています。

                会場内での飲食は禁止です(会場内配布物除く)
        div.box
            :markdown
                休憩時間は長めに取っています。

                お煙草をお吸いの方は会場の外でお願いします。
    section(data-background="./vertical.svg")
        div.box
            :markdown
                ## スポンサー様の紹介

                会場費はスポンサー様からの支援で賄っております。

                [Webサイト](http://kfug.github.io/events/2015/grandfrontendosaka/)でも公開中です。
        div.box
            :markdown
                お手元の配布資料は、お持ち帰りください。

                アンケート、セッションリストも同封しています。
    section(data-background="./vertical.svg")
        div.box
            :markdown
                ## 撮影について

                会場内撮影が入ります。

                撮影NGの方は後方の席でお願いします。
        div.box
            :markdown
                撮影写真はイベントの様子として、Webサイト/Facebook等で利用させていただく場合があります。
    section(data-background="./vertical.svg")
        div.box
            :markdown
                ## 懇親会について

                イベント終了後、懇親会を予定しております。
        div.box
            :markdown
                参加ご希望の方は、[@mkkn_info](https://twitter.com/mkkn_info)まで
    section
        :markdown
            最後に勉強会のマナーについて
    section
        :markdown
            勉強会は、参加者 × 登壇者
    section
        :markdown
            大阪人の温かい心を持ってセッションを聞きましょう。
    section
        :markdown
            ## おすすめキーワード

            - 「へぇ〜」
            - 「ほぅほぅ」
            - 「なるほどぉ…」
    section
        :markdown
            最前列の皆様、「特に」よろしくお願いいたします。
    section
        :markdown
            気になる情報などは

            ハッシュタグ[#frontkansai](https://twitter.com/search?q=%23frontkansai)

            でツィート!!
    section
        :markdown
            イベント盛り上がってる感を演出してください。
    section
        :markdown
            長時間になりますが、

            会場全体で、いい雰囲気を作っていきましょう。




