extends ../layout.jade

block titles
    title Laravel PHP フレームワーク 超入門
    meta(name='description', content='Laravel PHP フレームワーク 超入門')
    meta(name='author', content='mikakane')

block style
    link#theme(rel='stylesheet', href='/assets/css/custom/paleYellow.css')

block sections
    section.cover
        :markdown
            # 関西フロントエンドUG


    section(data-background="./vertical.svg")
        div.box
            :markdown
                ## 関西フロントエンドUG

                フロントエンド系の勉強会とかやってます。

                http://kfug.connpass.com/
        div.box
            :markdown
                毎月イベントやってます。

                登壇者(特にデザイナー側)を熱烈に募集してます。
    section
        :markdown
            毎月 2回のイベント開催

            - もくもく会
            - なんかしら勉強会
    section(data-background="./vertical.svg")
        div.box
            :markdown
                ## もくもく会

                集まる → 各自作業(もくもく) → 成果発表

                基本自由。集まって作業するやる気駆動開発
        div.box
            :markdown
                Reactなど、話題のライブラリに挑戦してみたり、

                積みっぱなしの技術書を消化してみたり、

                始めてのjQueryに挑戦!! みたいな人もいたりします。
    section
        :markdown
            9月度のもくもく会は現在募集中

            http://kfug.connpass.com/event/18809/
    section
        :markdown
            神戸とか京都とか奈良とかで

            もくもく会やってくれる人いないかなぁ…

    section(data-background="./vertical.svg")
        div.box
            :markdown
                ## 9月の勉強会のお知らせ

                Bowerやgulpなど

                フロントまわりの開発環境構築をテーマに
        div.box
            :markdown
                登壇者 LT募集中

                始めての方でも是非お気軽に!!
    section
        :markdown
            Grand Frontend Osaka は … ?
    section
        :markdown
            Grand Frontend Osaka 2015 Summer
    section
        :markdown
            Summer
    section
        :markdown
            SummerがあるならWinterもある？
    section
        p(style="margin:-5em;font-size:70%").
            本当に話しだすときりがないのですが、コミュニティ立ち上げ1年にも満たいないところに大型イベント開催の打診が入ってきて、
            完全に舞い上がって追ったというのが正直なところです。
            大規模イベント系のオーガナイズ作業を完全に甘く見てました。とりあえず100人手前までの規模の開催は視野に入れていたのもの、
            PHPカンファレンス関西で300人規模イベントのスタッフ経験あるから…とかタカをくくって準備作業とかの段取りをしっかり詰め切れなかったのが一番の問題です。
            会場拡張対応なったタイミングでしっかり仕切りなおしをすべきだったんですが、60人、90人とズルズル会場キャパを伸ばしていく関係で、
            体制スイッチの踏ん切りがつかず、というより仕事の忙しい時期がかちこんだ瞬間に完全に自分のタスク許容範囲を超えてしまい、
            金策も運営も他人にタスクを振れない＆自分で巻取り切れないという二重苦に陥ったままズルズルと時間だけが経過して多方面に迷惑をおかけしました。
            とりあえずコミュニティ的には大型イベント＝景気付けになるからと、最悪自腹覚悟の開き直り状態に入っていた金策面も
            多方面から心配のお声を頂いた結果、最終的にはスポンサー募集を募るという形になり、各企業様にご協力頂きました。
            ギリギリまで手がつかないからという理由で、準備をしていなかった結果、
            スポンサー募集要項が、githubのMarkdownファイルでの頒布という急ごしらえの結果となってしまい、
            取り急ぎで作ったGoogleフォーム製のスポンサー申し込みフォームも、意図しないところが必須になってたりで申し込み正常に手続きできなかったり、
            イベント開催2週間前の告知で、盆の前後の忙しい時期にもかからわず、フォーム入力、ロゴ提出、頒布資料の送付、という事務作業を、
            スポンサー各社様に要求するというありえない対応を招いてしまいました。
            にもかかわらずスポンサー各社様、しっかりと入稿期日を守っていただき、本当にありがとうございました。
            頒布資料作成準備も滞りなくスムーズに進められたのは関係各社様の柔軟な対応あってこそ、と痛感しております。
            スポンサー対応におわれて完全に懇親会対応を忘れていた結果、Facebookで懇親会会場の紹介を受けて下見まで行ったにもかかわらず、
            予約押さえを忘れてしまい、グランフロント近くのおしゃれなプロジェクター利用可の会場を逃してしまい、
            結局、イベント開催数日前に梅田の居酒屋に予約の確認で突撃をかけまくるという計画性が完全に欠如した行動に出ていたのも大きな反省点です。
            懇親会会場のConnpassページ立ち上げが完全に遅れまくって、皆様には大変ご迷惑をお掛けしました。
            印刷物関係に関してもグラフロエンドのパンフ作成から、自社のスポンサーとしての配布資料とかもろもろイラレで作らなきゃ行けなくて、
            エンジニアなのになぜかコード書くよりイラレ触ってる時間の方が長いという謎の状況に陥った挙句、
            自分が好きでやってるにもかかわらず「自分はデザイナーじゃない」とかいう謎の逆ギレをかまして、近辺の方々には大変なご迷惑をお掛けしました。
            というか夏になるとやっぱり夏バテとか食あたりとか、体力の低下、体調不良はつきものですし、そういう時期にポンポンとタスク詰め込みまくったのが最大の問題かなぁとか思っています。
            ましてやイベント開催1週間前の土曜日に、事務所移転を合わせてくるあたりの計画性、タスク把握能力のなさは本当に反省しなきゃいけないなぁと。
            夏のイベントはやっぱり体力との戦いでもうじき30近くなる前に体の衰えがホントに心配になってきました。
            エンジニアも運動とかして体づくりしてみるべきだと思います。
    section
        :markdown
            言い訳しだすとキリがないですが、反省しております。
    section
        :markdown
            2015はもうムリっす

            いいイベントにするための

            しっかりした準備期間が必要
    section
        :markdown
            2016 Feb.
    section
        :markdown
            「The Frontend」

            http://kfug.github.io/events/2016/frontend/
    section
        :markdown
            半年あったらなんとかなるよね？
    section
        :markdown
            デザイナーもエンジニアも、

            Webフロントで生きる全ての人のために
    section
        :markdown
            関西フロントエンドUG

            これからもよろしくお願いします。
    section
        :markdown
            本日は長い間、ありがとうございました。
    section
        :markdown
            懇親会へ続く




