doctype html
html(lang='ja')
    head
        style.
            p{
                position: absolute;
                font-size: 3em;
                top: 40%;
                width: 100%;
                text-align: center;
                color: #aaa;
            }
    body
        p chatbox.slide

